body{
    height: 95vh;
    width: 99vw;
}

header{
    height: 20%;
    width: 100%;
    display: inline-block;
    background-color:yellow;
}
header> * {
    margin: 0 auto;
    text-align: center;
}

.container{
    float:left;
    background-color: orange;
    height: 80%;
    width: 10%
}
.container > *{
    margin: 50% 1%;
    text-align:center;
}


section{
    height: 30vh;
    width: 95vw;
    position: relative;
}

.outer{
    margin:4px;
    height: 29vh;
    width: 10vw;
    transition: transform 1s;
    transform-style: preserve-3d;
    float:right;
}

.card{
    position:relative;
    height: 100%;
    width: 100%;
}

.back, .front{c
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position:absolute;
}

.front{
    background-size: cover;
    transform: rotateY(180deg)
}
.back{
    background-size: cover;
}

.flipped{
    transform:rotateY(-180deg);
}